/* You can add global styles to this file, and also import other style files */

html {
  font-size: 10px; /* px bedeutet 'pixels': die Schriftgröße wird auf 10 Pixel gesetzt  */
  font-family: "Helvetica Neue"; /* hier kommt der Name der ausgewählten Schriftfamilie hin */
  color: #232850;
}
  
  body {
    margin: auto auto;
    padding: 0 0% 0% 0%;
  }
  
  
  h1 {
    margin: 0;
    padding: 0%;
    font-size: 20px;
    text-align: center;
    color: #232850;
    /*text-shadow: 2px 2px 10px black;*/
  }
  
  h2 {
    margin: 0%;
    padding: 20px 0;
    font-size: 40px;
    text-align: center;
    color: #232850;
  }
  
  #StandortUeberschrift {
    margin: 3% 0 0 60px;
    padding: 6px;
    padding-left: 10px;
    background-color: #232850;
    color: white;
    font-size: 18px;
    width: 80px;
  }

  h3 {
    margin: 0 5% 0 60px;
    border: 2px solid #232850;
    padding: 10px 20px;
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
    color: #232850;
    float: left;
    width: 400px;
  }

  #InfoKastenKategorien {
    text-align: right;
    float: left;
    margin-right: 10%;
  }

  #InfoKastenWerte {
    text-align: left;
  }
  
  h4 {
    margin: 5%;
    color: rgb(82, 82, 82);
    font-size: 16px;
    align-content: center;
    }
  
  .spacevert {
    margin-bottom: 100px;
    float: none;
  }

  .spacevert2 {
    margin-bottom: 20px;
    float: none;
  }
  
  p {
    clear: left;
    margin: 430px 0% 0% 5%;
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
    color: #232850;
  }
  
  .progbar {
    margin: 40px 5% 100px 5%;
    align-content: center;
    align-items: center;
    height: 40px;
    color: #232850;
  }
  
  .navbutton {
    margin: 1% 90%;
  }
  
  .headerbar {
    background-color: rgb(236,114,6);
    padding: 5px;
    margin: 0 0 40px 0;
  }
  
  .spaceCard {
    margin-left: 3%;
  }
  
  .tonnencard {
    margin: 20px 0 0 20px;
    width: 15%;
    float: left;
    height: inherit;
    color: #232850;
  }
  
  .tctitle {
    margin-bottom: 8%;
    font-size: 30px;
    text-align: left;
  }
  
  .tcsubtitle {
    margin: 10px 0 20px 0;
    font-size: 13px;
    line-height: 140%;
  }
  
  .volumenTonne {
    font-size: 50px;
    text-align: left;
  }
  
  .kontrollenhistorie {
    font-size: 12px;
    text-align: left;
    height: inherit;
    float: left;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: 12px;
    text-align: left;
    height: inherit;
    float: left;
    color: red
  }
  
  .tcaction {
    margin: 20px;
    text-align: inherit;
  }
  
  .tccheckbox {
    margin: 20% 10px;
  }


  li {
    margin: 5%;
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
    color: #232850;
  }
  
  button, mat-slider {
    display: block;
    margin: 5%;
  }
